body {
  margin: 0;
}

.main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}




.fast {
  animation-duration: 4s;
  transition-timing-function: ease-in-out;
  animation: zoom 2s;
}

@keyframes zoom{
 0%  {transform: translate(0,0);}
 25% {transform: translate(100,100);}
 50% {transform: translate(200,200);}
 100% {transform: translate(0.0)}
}



.cool {
  color: white;
  background-color: dodgerblue;
  border: white;
  border-radius: 5px;
  box-shadow: 2px 1px 4px darkgray;
  height: 10vh;
  width: 25vh;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 15px;
  animation-name: coolPop;
  animation-duration: 2.5s;
  transition-timing-function: ease-in-out;
}

@keyframes coolPop{
  0% {transform: scale(1)};
  25% {transform: scale(1.15)};
  50% {transform: scale(1.25)};
  75% {transform: scale(0.8)};
  100% {transform: scale(1)};
}

.cool:hover{
  transform: scale(1.2);
}

/*

use transform : scale to produce the animation size changes