body {
  margin: 0;
}

.main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}




.fast {
  animation: EnterHelloo 1s ease-in-out;
}

@keyframes EnterHelloo{
  from{
    transform: translateX(200%);
    opacity: 0;
  } to {
    transform: translateX(0);
    opacity: 1;
  }
}



.cool {
  color: white;
  background-color: dodgerblue;
  border: white;
  border-radius: 5px;
  box-shadow: 2px 1px 4px darkgray;
  height: 10vh;
  width: 25vh;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 15px;
  transition-timing-function: ease-in-out;
}

.cool:hover{
  animation: Pop 2s ease-in-out;
}


@keyframes Pop{
  from {transform: scale(1)}
  80% {transform: scale(1.5)}
  90% {transform: scale(0.9)} 
  to {transform: scale(1)}  
}



/*

use transform : scale to produce the animation size changes